<?xml version="1.0" encoding="utf-8"?>
<Media Key="da949b32-5c1e-46a1-a882-e2bb493c6d68" Alias="street-poets" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/streetPoets</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T13:50:48</CreateDate>
    <NodeName Default="street-poets" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Two people sitting outdoors using typewriters with a sign reading 'Poet for hire, pay whatever you want'.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xvine1dx/authors.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>